<%-include("partials/header.ejs") %>

<div class="my-5">
    <div class="p-5 text-center bg-body-tertiary">
      <div class="container py-5">
        <p class="col-lg-8 mx-auto lead">Random Animal Fact For YOU: </p>
        <h1 class="text-body-emphasis">
          <%= randomFact %>
        </h1>
      </div>
    </div>
  </div>

<%-include("partials/footer.ejs") %>